.navbar-container {
  margin-top: 30px;
  padding-bottom: 5px;
}

.nav-links {
  display: flex;
  gap: 30px;
  padding-left: 10px;
}

.nav-item {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-dark);
  cursor: pointer;
  padding-bottom: 8px;
  position: relative;
}

.nav-item.active::after, .nav-item:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-dark);
}

.nav-item:not(.active) {
  opacity: 0.8;
}

.nav-item:not(.active):hover {
  opacity: 1;
}
